*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}

/* header */
header{
  padding: 20px 0;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

header ul {
  display: flex;
  gap: 20px;
}

 header ul li {
  
  line-height: 50px;
}

ul li.active{
  border-bottom: 4px solid blue;
}

ul li.active a{
  color: blue;
}

a{
  color: black;
  text-decoration: none;
}

figure img {
  width: 60px;
  margin-top: 5px;
}

/* main */
#content {
  background-color: black;
}

main ul{
  display: flex;
}

div .container{
  display: flex;
  justify-content: space-between;
}

#content h2 {
  color: white;
  text-align: center;
  padding: 20px 0;
}

#information {
  background-color: blue;
  color: white;
  padding: 20px 0;
}

#information ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
 
}

#information figure{
  display: flex;
  margin-left: 20px;
}

#information ul li figure img{
  aspect-ratio: 1;
  width: 35px;

}

/* footer */
footer{
  background-color: black;
  color: white;
  
}

footer .container{
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
  
 
}

#topFooter{
  background: url('./src/assets/footer-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#topFooter .bg-logo{
  background: url(./assets/dc-logo-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
 
}

footer a{
  color: lightgray;
}

ul {
  list-style-type: none;
}

footer ul li{
  line-height: 160%;
  font-size: 0.8;
  
}

footer .title {
  font-size: 1.5rem;
  color: white;
}


#bottomFooter{
  background-color: black;
}

#bottomFooter button{
  border: 2px solid blue;
  color: white;
  padding: 10px;
  background-color: transparent;
  text-transform: uppercase;

}